@using KdyPojedeVlak.Engine
@model Train
@{
    ViewData["Title"] = "Vlak " + Model.TrainType + " " + Model.TrainNumber + " " + Model.TrainName;

    var mainCalendar = Model.Route.Aggregate(new Dictionary<TrainCalendar, int>(), (counters, point) =>
    {
        int count;
        counters.TryGetValue(point.Calendar, out count);
        ++count;
        counters[point.Calendar] = count;
        return counters;
    }).Aggregate(new KeyValuePair<TrainCalendar, int>(null, 0), (max, calendar) => calendar.Value > max.Value ? calendar : max).Key;
    var firstPoint = true;
}

<h2>Vlak @Model.TrainType @Model.TrainNumber @Model.TrainName</h2>

<div class="row">
    <div class="col-md-11">
        <div>@mainCalendar.Description</div>
    </div>
    <div class="col-md-1">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nástroje <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="http://www.zelpage.cz/razeni/16/vlaky/cd-@Model.TrainNumber">Řazení vlaku</a></li>
                <li><a href="http://www.cd.cz/cd-online/poloha-vlaku/?train=@Model.TrainNumber">Poloha vlaku</a></li>
                <li><a href="http://kam.mff.cuni.cz/~babilon/cgi-bin/zpvlaku.cgi?@Model.TrainNumber">Zpoždění vlaku</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://kdypojedevlak.cz@(Url.Action("Details", new { id = Model.ID }))">Sdílet na Facebook</a></li>
            </ul>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Bod</th>
            <th>Příjezd</th>
            <th>Odjezd</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var point in Model.Route)
        {
            <tr class="@((firstPoint || point.ScheduledArrival != null) && point.ScheduledDeparture != null ? "majorpoint" : "minorpoint")">
                <td>@point.Point.Name</td>
                <td>@point.ScheduledArrival</td>
                <td>@point.ScheduledDeparture</td>
                <td>
                    @if (point.Calendar != mainCalendar)
                    {
                        <em>@point.Calendar.Description</em>
                    }
                </td>
            </tr>
            firstPoint = false;
        }
    </tbody>
</table>
