@using KdyPojedeVlak.Engine.Djr
@using KdyPojedeVlak.Models
@model KdyPojedeVlak.Models.TrainPlan
@{
    ViewData["Title"] = "Vlak " + DisplayConsts.TrainCategoryNames[Model.Train.TrainCategory] + " " + Model.Train.TrainNumber + " " + Model.Train.TrainName;
    var pointCount = Model.Points.Count;

    /*
    var mainCalendar = Model.Route.Aggregate(new Dictionary<TrainCalendar, int>(), (counters, point) =>
    {
        int count;
        counters.TryGetValue(point.Calendar, out count);
        ++count;
        counters[point.Calendar] = count;
        return counters;
    }).Aggregate(new KeyValuePair<TrainCalendar, int>(null, 0), (max, calendar) => calendar.Value > max.Value ? calendar : max).Key;
    var pointCount = Model.Route.Count;
    */
}

<h2>Vlak @DisplayConsts.TrainCategoryNames[Model.Train.TrainCategory] @Model.Train.TrainNumber @Model.Train.TrainName</h2>
<div class="row">
    <div class="col-md-11">
    </div>
    <div class="col-md-1">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nástroje <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="http://www.zelpage.cz/razeni/@(DateTime.Now.Year % 100)/vlaky/cd-@Model.Train.TrainNumber">Řazení vlaku</a>
                </li>
                <li>
                    <a href="https://www.cd.cz/vlak/@Model.Train.TrainNumber">Poloha vlaku</a>
                </li>
                <li>
                    <a href="http://kam.mff.cuni.cz/~babilon/cgi-bin/zpvlaku.cgi?@Model.Train.TrainNumber">Zpoždění vlaku</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=http://kdypojedevlak.cz@(Url.Action("Details", new { id = Model.Train.TrainNumber }))">Sdílet na Facebook</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Bod</th>
        @foreach (var variant in Model.Train.RouteVariants)
        {
            <th scope="col" class="time-col" colspan="3">@variant.Calendar.Name</th>
        }
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < pointCount; ++i)
    {
        var point = Model.Points[i];
        var rowType = (i == 0 ? "-first" : "") + (i == pointCount - 1 ? "-last" : "");
        <tr class="@(Model.MajorPointFlags[i] ? "majorpoint" : "minorpoint")">
            <td class="point-type-col@(rowType)">
                <span class="point-type-icon point-type-icon-@point.Type@rowType"></span>
            </td>
            <td>
                <span title="@point.ShortName">@point.Name</span>
            </td>
            @foreach (var pointVariant in Model.VariantRoutingPoints[i])
            {
                if (pointVariant == null)
                {
                    <td></td>
                    <td class="passthrough-col@(rowType)"></td>
                    <td></td>
                }
                else
                {
                    <td class="time-col">@pointVariant.ScheduledArrival?.ToString("hh':'mm':'ss")</td>
                    <td class="time-col">
                        <span title="@pointVariant.SubsidiaryLocationDescription">@pointVariant.ScheduledDeparture?.ToString("hh':'mm':'ss")</span>
                        <td class="operation-icons">
                            @if (pointVariant.TrainOperations.Count > 0)
                            {
                                foreach (var operation in pointVariant.TrainOperations)
                                {
                                    <span class="operation-icon-@operation" title="@DisplayConsts.TrainOperationDescriptions[operation]">@DisplayConsts.TrainOperationIcons[operation]</span>
                                }
                            }
                        </td>
                    </td>
                }
            }
        </tr>
    }
    </tbody>
</table>