@using KdyPojedeVlak.Engine.Djr
@using KdyPojedeVlak.Models
@model KdyPojedeVlak.Models.TrainPlan
@{
    ViewData["Title"] = "Vlak " + DisplayConsts.TrainCategoryNames[Model.Train.TrainCategory] + " " + Model.Train.TrainNumber + " " + Model.Train.Name;
    var pointCount = Model.Points.Count;
}

<h2 title="@DisplayConsts.TrafficTypeNames[Model.Train.TrafficType]">Vlak @DisplayConsts.TrainCategoryNames[Model.Train.TrainCategory] @Model.Train.TrainNumber @Model.Train.Name</h2>
<div class="row">
    <div class="col-md-10">
    </div>
    <div class="col-md-2">
        <div class=btn-toolbar>
            <div class="btn-group" role="group">
                <a href="@Url.Action("Map", new { id = Model.Train.Train.Number, year = Model.Train.TimetableYear.Year })" class="btn btn-default"><span class="glyphicon glyphicon-globe" aria-label="Mapa"></span></a>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nástroje <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="https://www.zelpage.cz/razeni/@(Model.Train.TimetableYear.Year % 100)/vlaky/cd-@Model.Train.TrainNumber">Řazení vlaku (ŽelPage)</a>
                    </li>
                    <li>
                        <a href="https://www.cd.cz/vlak/@Model.Train.TrainNumber">Poloha vlaku (ČD)</a>
                    </li>
                    <li>
                        <a href="http://kam.mff.cuni.cz/~babilon/cgi-bin/zpvlaku.cgi?@Model.Train.TrainNumber">Zpoždění vlaku</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://kdypojedevlak.cz@(Url.Action("Details", new { id = Model.Train.TrainNumber, year = Model.Train.TimetableYear.Year }))">Sdílet na Facebook</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Bod</th>
        @foreach (var variant in Model.Train.Variants)
        {
            <th scope="col" title="@variant.Calendar.StartDate.ToShortDateString() – @variant.Calendar.EndDate.ToShortDateString()" colspan="3">@variant.Calendar.Description</th>
        }
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < pointCount; ++i)
    {
        var point = Model.Points[i];
        var rowType = (i == 0 ? "-first" : "") + (i == pointCount - 1 ? "-last" : "");
        <tr class="@(Model.MajorPointFlags[i] ? "majorpoint" : "minorpoint")">
            <td class="point-type-col@(rowType)">
                <span class="point-type-icon point-type-icon-@point.Type@rowType"></span>
            </td>
            <td>
                @Html.ActionLink(point.Name, "Nearest", "Transits", new {id = point.Code}, new {@class = "silent-link", title = point.ShortName})
            </td>
            @foreach (var pointVariant in Model.VariantRoutingPoints[i])
            {
                if (pointVariant == null)
                {
                    <td></td>
                    <td class="passthrough-col@(rowType)"></td>
                    <td></td>
                }
                else
                {
                    <td class="time-col">@pointVariant.ArrivalTime</td>
                    <td class="time-col">
                        <span title="@pointVariant.SubsidiaryLocationDescription">@pointVariant.DepartureTime</span>
                    </td>
                    <td class="operation-icons">
                        @if (pointVariant.TrainOperations.Count > 0)
                        {
                            foreach (var operation in pointVariant.TrainOperations)
                            {
                                <span class="operation-icon-@operation" title="@DisplayConsts.TrainOperationDescriptions[operation]">@DisplayConsts.TrainOperationIcons[operation]</span>
                            }
                        }
                    </td>
                }
            }
        </tr>
    }
    </tbody>
</table>