@using KdyPojedeVlak.Models
@model KdyPojedeVlak.Models.TrainMapData
@{
    ViewData["Title"] = "Mapa trasy vlaku " + DisplayConsts.TrainCategoryNames[Model.Train.TrainCategory] + " " + Model.Train.TrainNumber + " " + Model.Train.Name;
}
@section styles
{
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css" />
}
@section scripts
{
    <script src="~/lib/leaflet/leaflet.js"></script>
    <script>$(function() {window['kdyPojedeVlak'].initMapFrame(@Html.Raw(Model.DataJson.Replace(@"</", @"\x3C/")))});</script>
}

<h2 title="@DisplayConsts.TrafficTypeNames[Model.Train.TrafficType]">Vlak @DisplayConsts.TrainCategoryNames[Model.Train.TrainCategory] @Model.Train.TrainNumber @Model.Train.Name</h2>
<div class="row">
    <div class="col-md-10">
    </div>
    <div class="col-md-2">
        <div class=btn-toolbar>
            <div class="btn-group" role="group">
                <a href="@Url.Action("Details", new { id = Model.Train.Train.Number, year = Model.Train.TimetableYear.Year })" class="btn btn-default"><span class="glyphicon glyphicon-list" aria-label="Výpis"></span></a>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nástroje <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="https://www.zelpage.cz/razeni/@(Model.Train.TimetableYear.Year % 100)/vlaky/cd-@Model.Train.TrainNumber">Řazení vlaku (ŽelPage)</a>
                    </li>
                    <li>
                        <a href="https://www.cd.cz/vlak/@Model.Train.TrainNumber">Poloha vlaku (ČD)</a>
                    </li>
                    <li>
                        <a href="http://kam.mff.cuni.cz/~babilon/cgi-bin/zpvlaku.cgi?@Model.Train.TrainNumber">Zpoždění vlaku</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https://kdypojedevlak.cz@(Url.Action("Map", new { id = Model.Train.TrainNumber, year = Model.Train.TimetableYear.Year }))">Sdílet na Facebook</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />

<div id="mapFrame"></div>
