@using KdyPojedeVlak.Engine.DbStorage
@using KdyPojedeVlak.Models
@model List<TrainTimetableVariant>
@{
    ViewData["Title"] = "Vlaky s nejnovějšími údaji";
}
<h2>Vlaky s nejnovějšími údaji</h2>
<ul>
    @foreach (var timetableVariant in Model)
    {
        var timetable = timetableVariant.Timetable;
        var fromName = timetableVariant.Points.FirstOrDefault()?.Point?.Name;
        var toName = timetableVariant.Points.LastOrDefault()?.Point?.Name;
        <li>
            <a href="@Url.Action("Details", new {id = timetable.TrainNumber, year = timetable.YearId})">@DisplayConsts.TrafficTypeNames[timetable.TrafficType] @DisplayConsts.TrainCategoryNames[timetable.TrainCategory] @timetable.TrainNumber @timetable.Name (@fromName – @toName)</a>
        </li>
    }
</ul>
