@using KdyPojedeVlak.Web.Models
@model List<KdyPojedeVlak.Web.Models.BasicTrainInfo>
@{
    ViewData["Title"] = "Vlaky s nejnovějšími údaji";
}
<h2>Vlaky s nejnovějšími údaji</h2>
<ul>
    @foreach (var train in Model)
    {
        <li>
            <a href="@Url.Action("Details", new { id = train.Number, year = train.TimetableYear })">@DisplayConsts.TrafficTypeNames[train.TrafficType] @DisplayConsts.TrainCategoryNames[train.TrainCategory] @train.Number @train.Name (@train.FirstPointName – @train.LastPointName)</a>
        </li>
    }
</ul>