@using System.Globalization
@using KdyPojedeVlak.Models
@model KdyPojedeVlak.Models.NearestTransits
@{
    ViewData["Title"] = String.Format("Nejbližší vlaky v „{0}“", Model.Point.Name);
    var now = Model.StartDate.TimeOfDay;
    var hasTools = false;
}
<h3>Nejbližší průjezdy vlaku místem „@Model.Point.LongName“</h3>
<div class="row">
    <div class="col-md-11">
    </div>
    <div class="col-md-1">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nástroje <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @if (Model.Point.CodebookEntry.Latitude != null)
                {
                    hasTools = true;
                    var lat = Model.Point.CodebookEntry.Latitude.GetValueOrDefault().ToString("F5", CultureInfo.InvariantCulture);
                    var lon = Model.Point.CodebookEntry.Longitude.GetValueOrDefault().ToString("F5", CultureInfo.InvariantCulture);
                    <li>
                        <a href="https://www.openstreetmap.org/?mlat=@lat&mlon=@lon#map=15/@lat/@lon">Poloha stanice</a>
                    </li>
                }
                @if (Model.Point.CountryCodeFromID == "CZ")
                {
                    hasTools = true;
                    <li>
                        <a href="https://www.cd.cz/stanice/54@(Model.Point.ShortCzechIdentifier)">Detail stanice ČD</a>
                    </li>
                    <li>
                        <a href="http://provoz.szdc.cz/tabule/StationDetail.aspx?lang=cs&id=54@(Model.Point.ShortCzechIdentifier)&t=1">Tabule příjezdů</a>
                    </li>
                    <li>
                        <a href="http://provoz.szdc.cz/tabule/StationDetail.aspx?lang=cs&id=54@(Model.Point.ShortCzechIdentifier)&t=2">Tabule odjezdů</a>
                    </li>
                }
                @if (hasTools)
                {
                    <li role="separator" class="divider"></li>
                }
                <li>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=http://kdypojedevlak.cz@(Url.Action("Nearest", new {id = Model.Point.ID}))">Sdílet na Facebook</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<ul>
    @foreach (var train in Model.Transits)
    {
        @* TODO: Do not show tommorrow trains as past *@
        <li class="@(train.AnyScheduledTime < now ? "past" : "future")">
            @train.AnyScheduledTime
            @Html.ActionLink(DisplayConsts.TrainCategoryNames[train.Train.TrainCategory] + " " + train.Train.TrainNumber + " " + train.Train.TrainName, "Details", "Train", new { id = train.Train.TrainNumber })
            @if (train.SequenceIndex > 0)
            {
                if (train.SequenceIndex < train.RouteVariant.RoutingPoints.Count - 1)
                {
                    <text>(@(train.RouteVariant.RoutingPoints[train.SequenceIndex - 1].Point.Name) → @(train.RouteVariant.RoutingPoints[train.SequenceIndex + 1].Point.Name))</text>
                }
                else
                {
                    <text>(z @(train.RouteVariant.RoutingPoints[train.SequenceIndex - 1].Point.Name))</text>
                }
            }
            else
            {
                <text>(směr @(train.RouteVariant.RoutingPoints[train.SequenceIndex + 1].Point.Name))</text>
            }
        </li>
    }
</ul>

<h4>Sousední místa</h4>
<ul>
    @foreach (var neighbor in Model.Point.NeighboringPoints)
    {
        <li>
            @Html.ActionLink(neighbor.LongName, "Nearest", new { id = neighbor.ID }, null)
        </li>
    }
</ul>